<div class="container venue-login" ng-controller="blpAppLoginController">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 text-center">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <h1>Venue Login</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <ul class="underline">
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                </div>
                <div id="warn_box" style="left: 7.5px; display: block; text-align: center; width: 100%;">
                    <div class="success" style="color:green;"></div>
                    <div class="warning"></div>
                    <div class="error" style="color:red;"></div>
                </div>
                <form>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <input type="email" class="form-control" id="loginEmail" placeholder="Vanue Email">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <input type="password" class="form-control" id="loginPassword" placeholder="Password">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <button class="btn-blue hvr-sweep-to-top" ng-click="loginVenue()" type="submit">LOGIN</button>
                        </div>
                    </div>
                </form>
                <div class="row mt20">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <a href="/user/forgot_venue">Forgot password?</a>
                    </div>
                </div>
                <div class="row mt30">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <p>Want to list your venue on BLP? <a href="/user/register_venue">Register Here</a></p>

                    </div>
                </div>
            </div>
        </div>
</div>
    <div class="push"></div>
    </div>
