<div id="content">
<div class="container venue-login" ng-controller="blpAppLoginController">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 text-center">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <h1>User Register</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <ul class="underline">
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                </div>
                <div id="warn_box" style="left: 7.5px; display: block; text-align: center; width: 100%;">
                    <div class="success" style="color:green;"></div>
                    <div class="warning"></div>
                    <div class="error" style="color:red;"></div>
                </div> 
                <form>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <input class="form-control" placeholder="First Name" id="registerFirstName" type="text" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <input class="form-control" placeholder="Last Name" id="registerLastName" type="text" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <input class="form-control" placeholder="User Email" id="registerEmail" type="text" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <input class="form-control" placeholder="Confirm Email" id="confirmEmail" type="text" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <input class="form-control" placeholder="Password" id="registerPassword" type="password" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <input class="form-control" placeholder="Confirm Password" id="registerConfirmPassword" type="password" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <button class="btn-blue hvr-sweep-to-top" ng-click="registerUser()" type="submit">Register</button>
                        </div>
                    </div>
                </form>
                <div class="row center-align mt20">
					<div class="fb-btn facebook-connect" ng-click="loginSocial()"></div>
				</div>
            </div>
        </div>
</div>
    <div class="mt40"></div>
    </div>
 </div>
