<div id="content">
<div class="container-fluid in-banner" style="padding-left: 0px; padding-right: 0px;">
    <img src="/static/img/banner.jpg" alt="Image" />
</div>

<div class="container-fluid blp_what">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <h2>What is BLP?</h2>
                <p><b>For the users:</b>  No more planning around lines or wondering if you'll get in. BarLinePass provides bar goers the ability to purchase tickets to skip the line at their favorite venues. With a click of a few buttons and a little cash up front, you guarantee yourself a great night out!</p>
				<p>Register by clicking the <b><a data-toggle="modal" data-target="#myLoginModal" style="cursor:pointer;">User Login</a></b> tab on the top right corner and search for local venues to skip the line!</p>
				<p><b>For the venues:</b> BarLinePass gives their customers a unique experience by giving any and everybody the ability to purchase tickets to skip the line for your venue. BLP is constantly partnering with new venues to connect them with users looking to pay to be pay to be the wait.</p>
                <p>Interested in partnering with us and getting your venue on BLP? <b><a data-toggle="modal" data-target="#emailContactUsModal" style="cursor:pointer;">Emails us Here!</a></b></p>
                <!-- <p>Looking to partner with BLP?  Email us <a data-toggle="modal" data-target="#emailContactUsModal" style="cursor:pointer;">here!</a></b> -->
            </div>
        </div>
    </div>
</div>
</div>